page-camera {
    
    .pic {

        width: 49%;
        //border:1px solid #021a40;
        float: left;
        background: #7A706B;
    }

    .pic-right {
        float: right;
        background: #626E7A;
    }

}
